body{
	background-image: url(https://uauth.unextt.com/admin/assets/img/login-bg.jpg);
	background-position: center;
  background-size: 100% 100%;
  background-attachment: fixed;
}
h2{
	color: #ffb100;
	word-spacing: 10px;
}
table{
	color: #ffb100;
	font-size: 20px;
}